body{
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: blanchedalmond;
}
a{
    text-decoration: none;
}
li{
   list-style: none;
}
.menu-transparents{
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    background-color: transparent;
}
.header-topbar{
    font-size: 14px;
    line-height: 50px;

    position: relative;
    z-index: 101;

    width: 100%;

    /*border-bottom: 1px solid rgba(255, 255, 255, .3);*/
    border-bottom: 1px solid darkgray;
}
.header-topbar .link{
    color: #777777
}
.header-topbar .link:hover{
    color: #86bc42;
}
.header-topbar .topbar-left, .header-topbar .topbar-right{
    float: left;
    margin-bottom: 0;
}

.header-topbar .topbar-left > li, .header-topbar .topbar-right > li{
    position: relative;
    display: inline-block;
    padding: 0 15px;
}
/*.header-topbar .topbar-left > li:first-child,*/
/*.header-topbar .topbar-right >li:first-child{*/
    /*padding-left: 0;*/
/*}*/

/*.header-topbar .topbar-left > li:last-child,*/
/*.header-topbar .topbar-right > li:last-child{*/
    /*padding-right: 0;*/
    /*border: none;*/
/*}*/

/*.header-topbar .topbar-left .link, .header-topbar .topbar-right .link{*/
    /*width: auto;*/
    /*margin-bottom: 0;*/
/*}*/

/*.header-topbar .topbar-left .link .icons{*/
    /*font-size: 8px;*/
    /*position: relative;*/
    /*top: -2px;*/
    /*margin-right: 7px;*/
/*}*/

/*.header-topbar .topbar-right .link .icons-2{*/
    /*margin-right: 7px;*/
/*}*/

/*.header-topbar .topbar-right li + li:before{*/
    /*position: absolute;*/
    /*top: 8%;*/
    /*left: 0;*/
    /*width: 1px;*/
    /*height: 18px;*/
    /*content: '';*/
    /*background-color: #777777;*/
/*}*/

/*.header-topbar .topbar-right{*/
    /*float: right;*/
/*}*/

.header-topbar .topbar-left{
    float: left;
}
/*.header-topbar .topbar-right{*/
    /*float: right;*/
/*}*/